<div class="container p-4">
    <div class="d-flex">
        <div class="card me-4" style="width: 14rem;">
            <a
                href="{{ episode.podcast.get_absolute_url }}"
                hx-get="{{ episode.podcast.get_absolute_url }}"
                hx-trigger="click"
                hx-push-url="true"
                hx-target="#page"
            >
                <img src="{{ episode.podcast.image_link }}" class="card-img-top" alt="...">
            </a>
        </div>
        <div>
            <h1 class="display-5">{{ episode.title }}</h1>
            <a
                class="text-decoration-none text-secondary"
                href="{{ episode.podcast.get_absolute_url }}"
                hx-get="{{ episode.podcast.get_absolute_url }}"
                hx-trigger="click"
                hx-push-url="true"
                hx-target="#page"
            >
                <h6 class="display-6 mb-2 text-body-secondary">{{ episode.podcast.title }}</h6>
            </a>
            <p class="pt-2">Publihsed: {{ episode.pub_date }}</p>
        </div>
    </div>
    <hr class="mt-4">
    <div class="pt-4 text-decoration-none">
        {{ episode.description|safe }}
    </div>
</div>
