<div class="container pt-4">
  <h1>
    {% if request.path == "/episodes" %}
      New Releases
    {% elif request.path == "/episodes/favourites" %}
      Favourites
    {% elif request.path == "/episodes/listening" %}
      In Progress
    {% endif %}
  </h1>
  <hr>
  <ul class="list-group list-group-flush">
    {% include "podcasts/podcast_episode_list_partial.html" with component="podcasts/episode_list_item_with_cover_art_partial.html" %}
  </ul>
  {% include "podcasts/paginator.html" %}
</div>

