{% load humanize %}
{% with next_page=request.GET.page|default:1|add:1 %}
  <li class="list-group-item d-flex justify-content-between align-items-center"
      id="episodeListItem{{ episode.id }}">
    <span class="d-flex">
      <a href="{{ episode.podcast.get_absolute_url }}" hx-get="{{ episode.podcast.get_absolute_url }}" hx-trigger="click" hx-push-url="true" hx-target="#page">
        <img class="img rounded float-start" style="width: 70px; height: 70px;" src="{{ episode.podcast.image_link }}">
        </img>
      </a>
      <div class="pt-2 ms-4">
        <a href="{{ episode.get_absolute_url }}" hx-get="{{ episode.get_absolute_url }}" hx-trigger="click" hx-push-url="true" hx-target="#page" class="link-dark text-decoration-none">
          <h5>
            {{ episode.title }}
          </h5>
        </a>
        <a href="{{ episode.podcast.get_absolute_url }}" hx-get="{{ episode.podcast.get_absolute_url }}" hx-trigger="click" hx-push-url="true" hx-target="#page" class="link-secondary text-decoration-none">
          <h6>
            {{ episode.podcast.title }}
          </h6>
        </a>
      </div>
    </span>
    <span class="d-flex align-items-center">
      <span class="pe-5">
        <h6 class="text-secondary mb-0">{{ episode.pub_date|naturalday }}</h6>
      </span>
      <a href="{{ episode.media_link }}" class="episodeLink link-secondary text-decoration-none" id="episodeLink{{ episode.id }}">
        <i class="bi bi-play-circle" style="font-size: 2rem"></i>
      </a>
    </span>
  </li>
{% endwith %}