{% with next_page=request.GET.page|default:1|add:1 %}
  <li class="list-group-item d-flex justify-content-between align-items-center"
      id="episodeListItem{{ episode.id }}"
      {% if forloop.last and next_page <= page_obj.paginator.num_pages %}
        hx-get="?page={{ next_page }}"
        hx-push-url="true" hx-trigger="revealed"
        hx-swap="afterend"
      {% endif %}>
    <a id="episodeLink{{ episode.id }}"
       class="episodeURL text-decoration-none {% if interaction.listened %}link-secondary{% else %}link-dark{% endif %}"
       href="{{ episode.media_link }}">
      {{ episode.title }}
    </a>
    {% if interaction.favourite %}
      <a href="#" hx-trigger="click" hx-swap="outerHTML" hx-target="#episodeListItem{{ episode.id }}" hx-post="/unfavourite/{{ episode.id }}" class="link-warning">
        <i class="bi bi-star-fill"></i>
      </a>
    {% else %}
      <a href="#" hx-trigger="click" hx-swap="outerHTML" hx-target="#episodeListItem{{ episode.id }}" hx-post="/favourite/{{ episode.id }}" class="link-warning">
        <i class="bi bi-star"></i>
      </a>
    {% endif %}
  </li>
{% endwith %}

<script>
  episode = document.getElementById("episodeLink{{ episode.id }}")
  episode.addEventListener("click", playAudio);
</script>
