{% load humanize %}
{% with next_page=request.GET.page|default:1|add:1 %}
  <li class="list-group-item d-flex justify-content-between align-items-center"
      id="episodeListItem{{ episode.id }}"
      {% if forloop.last and next_page <= page_obj.paginator.num_pages %}
        hx-get="?page={{ next_page }}"
        hx-trigger="revealed"
        hx-swap="afterend"
      {% endif %}>
    <a class="episodeURL text-decoration-none {% if interaction.listened %}link-secondary{% else %}link-dark{% endif %}"
       href="{{ episode.get_absolute_url }}"
       hx-get="{{ episode.get_absolute_url }}"
       hx-trigger="click"
       hx-push-url="true"
       hx-target="#page"
    >
      <h6>
        {{ episode.title }}
      </h6>
    </a>
    <span class="d-flex align-items-center">
      <h6 class="text-secondary mb-0 pe-5">{{ episode.pub_date|naturalday }}</h6>
      <a
        href="#"
        hx-trigger="click"
        hx-swap="outerHTML"
        hx-target="#episodeListItem{{ episode.id }}"
        hx-post="/{% if interaction.favourite %}un{% endif %}favourite/{{ episode.id }}"
        class="link-warning text-decoration-none pe-3">
        <i class="bi bi-star{% if interaction.favourite %}-fill{% endif %}" style="font-size: 1.2rem"></i>
      </a>
      <a href="{{ episode.media_link }}" class="link-secondary text-decoration-none" id="episodeLink{{ episode.id }}">
        <i class="bi bi-play-circle" style="font-size: 1.2rem"></i>
      </a>
    </span>
  </li>
{% endwith %}

<script>
  episode = document.getElementById("episodeLink{{ episode.id }}")
  episode.addEventListener("click", playAudio);
</script>
