<div class="container pt-4">
  <div class="d-flex">
    <div class="card me-4" style="width: 18rem;">
      <img src="{{ object.image_link }}" class="card-img-top" alt="...">
    </div>
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <p class="card-text">{{ object.description }}</p>
        <a href="{{ object.site_link }}" class="btn btn-primary">Visit site</a>
        {% if object.subscribed %}
          <a href="{% url 'unsubscribe' %}?url={{ object.feed_link|urlencode }}" class="btn btn-danger">Unsubscribe</a>
        {% else %}
          <a href="{% url 'subscribe' %}?url={{ object.feed_link|urlencode }}" class="btn btn-success">Subscribe</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row pt-4">
    <ul class="list-group list-group-flush">

      {% for episode in podcast.episode_set.all %}
        {% with interaction=episode.user_interactions|first %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="episodeURL text-decoration-none {% if interaction.listened %}link-secondary{% else %}link-dark{% endif %}" href="{{ episode.media_link }}">{{ episode.title }}</a>
            {% if interaction.favourite %}
              <a href="#" hx-trigger="click" hx-target="#page" hx-post="/unfavourite/{{ episode.id }}" class="link-warning">
                <i class="bi bi-star-fill"></i>
              </a>
            {% else %}
              <a href="#" hx-trigger="click" hx-target="#page" hx-post="/favourite/{{ episode.id }}" class="link-warning">
                <i class="bi bi-star"></i>
              </a>
            {% endif %}
        {% endwith %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


<script>
  player = document.getElementById("player")
  episodeURLs = document.getElementsByClassName("episodeURL");
  Array.from(episodeURLs).map(episode => {
    episode.addEventListener("click", (event) => {
      event.preventDefault();
      player.src = episode.href;
      player.play();
    })
  })
</script>
