{% extends "base.html" %}
{% block content %}
  <div class="container-fluid p-4">
    {% for podcast in object_list %}
      <a href="{{ podcast.get_absolute_url }}" class="text-decoration-none" style="position: fixed;">
        <div class="card" style="width: 18rem;">
          <img src="{{ podcast.image_link }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title">{{ podcast.title }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
{% endblock %}

</div>
