<div class="container p-4">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
      <img src="{{ podcast.image_link }}" class="img-fluid rounded float mx-auto d-block border" alt="...">
    </div>
    <div class="col-lg-10 col-md-8 col-sm-6 col-xs-12 pt-4 pt-sm-0">
      <h1 class="display-5">{{ podcast.title }}</h1>
      <p>{{ podcast.description|safe }}</p>
      <a href="{{ podcast.site_link }}" class="btn btn-outline-primary">Visit site</a>
      {% if podcast.subscribed %}
        <a href="{% url 'unsubscribe' %}?url={{ podcast.feed_link|urlencode }}" class="btn btn-outline-danger">Unsubscribe</a>
      {% else %}
        <a href="{% url 'subscribe' %}?url={{ podcast.feed_link|urlencode }}" class="btn btn-outline-success">Subscribe</a>
      {% endif %}
    </div>
  </div>
  <hr class="mt-4">
  <div class="row">
    <ul class="list-group list-group-flush">
      {% include "podcasts/podcast_episode_list_partial.html" with component="podcasts/episode_list_item_partial.html" %}
    </ul>
  </div>
  {% include "podcasts/paginator.html" %}
</div>