<div class="container-fluid">
<div class="row justify-content-start no-gutters">
  {% for subscription in object_list %}
    <a href="{{ subscription.podcast.get_absolute_url }}" hx-get="{{ subscription.podcast.get_absolute_url }}" hx-push-url="true" hx-trigger="click" hx-target="#page" class="text-decoration-none col-xl-1 col-lg-2 col-md-3 col-sm-4 col-6 m-0 p-0">
        <img src="{{ subscription.podcast.image_link }}" class="mx-auto d-block img-fluid" alt="...">
    </a>
  {% endfor %}
  </div>
</div>
